<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995761445390-9qoraucbjh7qhdv52sbcbhg9svl511pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995761445390-9qoraucbjh7qhdv52sbcbhg9svl511pc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>995761445390-8c5p54uq76uv8tkkc39aj3o0aj72rggf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ddFGGPQlP9OtQG9VnAFi_YkZR0fQnNU</string>
	<key>GCM_SENDER_ID</key>
	<string>995761445390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorApp</string>
	<key>PROJECT_ID</key>
	<string>tutor-app-57715</string>
	<key>STORAGE_BUCKET</key>
	<string>tutor-app-57715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995761445390:ios:74076dea58f4b27f1c7a5f</string>
	<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.995761445390-9qoraucbjh7qhdv52sbcbhg9svl511pc</string>
				</array>
			</dict>
		</array>
</dict>
</plist>